
<!-- CLOCK -->
<div class="grid pb-2">
	<div class="col">

		<h1 class="text-center font-size-4">
			{{time}}
		</h1>
		
	</div>
</div>


<!-- EVENTS -->
<div class="grid">

	<div class="col">
		<div>
			<h2 class="text-center">
				Finished
			</h2>

			<div class="grid">
				{{#each finishedList as |event| }}
					<div class="col-12">
		      	{{events-admin-event-item event=event onButtonClick=(action "onButtonClickClick")}}
		      </div>
		    {{/each}}
			</div>
		</div>
	</div>

	<div class="col">
		<div>
			<h2 class="text-center">
				Now on
			</h2>

			<div class="grid">
				{{#each nowOnList as |event| }}
		      <div class="col-12">
		      	{{events-admin-event-item event=event onButtonClick=(action "onButtonClickClick")}}
		      </div>
		    {{/each}}
			</div>
		</div>
	</div>

	<div class="col">
		<div>
			<h2 class="text-center">
				Coming up
			</h2>

			<div class="grid">
				{{#each comingUpList as |event| }}
		      <div class="col-12">
		      	{{events-admin-event-item event=event onButtonClick=(action "onButtonClickClick")}}
		      </div>
		    {{/each}}
			</div>
		</div>
	</div>

	<div class="col">
		<div>
			<h2 class="text-center">
				Bucket
			</h2>

			<div class="grid">
				{{#each bucketList as |event| }}
		      <div class="col-12">
		      	{{events-admin-event-item event=event onButtonClick=(action "onButtonClickClick")}}
		      </div>
		    {{/each}}
			</div>
		</div>
	</div>

</div>